* {
    font-family: 'Zabars', sans-serif;
}

.d-none {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: url(img/desert.png);
    background-position: top;
}

h1 {
    color: white;
    font-size: 80px;
    letter-spacing: 3px;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

canvas {
    background-color: black;
    display: none;
    border-radius: 20px;
}

#content {
    width: 720px;
    height: 480px;
    display: block;
    position: relative;
}

#startscreen {
    width: 720px;
    height: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    border-radius: 20px;
}

#endscreen {
    width: 720px;
    height: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    border-radius: 20px;
}

#content img{
    position: absolute;
    width: 720px;
    height: 480px;
    border-radius: 20px;
}

#startscreen button{
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
    color: white;
    font-size: 46px;
    font-family: 'Zabars', sans-serif;
    letter-spacing: 3px;
    padding: 2px 12px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    cursor: pointer;
    transition: 0.1s all ease-in-out;
}

#startscreen button:hover{
    font-size: 50px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    border-radius: 20px;
}

#endscreen button{
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
    color: white;
    font-size: 46px;
    font-family: 'Zabars', sans-serif;
    letter-spacing: 3px;
    padding: 2px 12px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    cursor: pointer;
    transition: 1.5s ease ease-in-out;
}



@media only screen and (max-width: 720px) {
    #content {
        width: 100%;
    }

    #startscreen {
        width: 100%;
    }

    #endscreen {
        width: 100%;
    }

    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    #content {
        height: 100vh;
    }

    #endscreen {
        height: 100vh;
    }

    canvas {
        height: 100vh;
    }

    h1 {
        display: none;
    }
}